{% extends 'base.html' %}
{% block content %}
    {% for score_calculated,progress in sigs_progress %}
        <br>
        Hi {{progress.applicant.first_name}} {{progress.applicant.last_name}}
        Your progress in {{progress.sig}}
        You have completed {{progress.round_completed}} round(s)
        
        {% if score_calculated %}
            Did not qualify
            {% if progress.next_round_time %}
                Your next round is on {{progress.next_round_time}}
            {% endif %}
        {% else %}
            Scores for current round have not been calculated yet
        {% endif %}
        <br>
    {% endfor %}

    <!--
    <form id="progress_form">
        <input id="passcode" placeholder="Enter passcode"> 
    </form>
    <button id="progress_button" onclick="check_code()">Check Progress</button>
    -->
    <script>
        /*
        function sha256(input){
            var hasher = forge.md.sha256.create();  
            hasher.start();  
            hasher.update(input, "utf8");  
            var hash = hasher.digest().toHex();  
            return new String(hash)
        }
        function check_code(){            
            var db_passcode="{{applicant_passcode}}"
            var entered_passcode=sha256($('#passcode').val())
            if(db_passcode==entered_passcode){
                $('#progress_form').hide()
                $('#progress_button').hide()

            }
        }
        */
    </script>
{% endblock %}
