{% extends 'base.html' %}
{% block content %}
<div>
    <div class="row center">
        <h4 id="progress_header">Hi {{applicant.first_name}} {{applicant.last_name}}, here is your progress</h4>
    </div>
    <div hidden id="progress" class="row">
    {% for score_calculated,progress in sigs_progress %}
        <div class="col l6 s12">
            <div class="card">
                <div class="card-content black-text">
                        <span class="center card-title">{{progress.sig}}</span> 
                                Rounds Completed : {{progress.round_completed}}
                                <br>

        {% if progress.qualified_for_next %}
            {% if progress.next_round_time %}
                You have qualified for the next round!<br>
                Your next round is on {{progress.next_round_time}} in {{progress.next_round_location}}
            {% else %}
                You have qualified for the next round!<br>
                Time slots for the next round are yet to be allocated, please wait!
            {% endif %}
        {% else %}
            Sorry you did not qualify for the next round
        {% endif %}
                </div>
            </div>
        </div>

    {% endfor %}
    </div>
</div>

    <!--
    <form id="progress_form">
        <input id="passcode" placeholder="Enter passcode"> 
    </form>
    <button id="progress_button" onclick="check_code()">Check Progress</button>
    -->
    <script>
        /*
        function sha256(input){
            var hasher = forge.md.sha256.create();  
            hasher.start();  
            hasher.update(input, "utf8");  
            var hash = hasher.digest().toHex();  
            return new String(hash)
        }
        function check_code(){            
            var db_passcode="{{applicant_passcode}}"
            var entered_passcode=sha256($('#passcode').val())
            if(db_passcode==entered_passcode){
                $('#progress_form').hide()
                $('#progress_button').hide()

            }
        }
        */
    </script>
{% endblock %}
