{% extends 'base.html' %}
{% block content %}
<br/>
<h3><span>Taking Interviews for {{sig}}</span></h3>
<div class="center">
    <a href="{% url 'interview' %}">Conduct interview for another sig</a>
</div>

<div class="card">
    <div class="row">
        <div class="col s12">
            <form action="{% url 'sig_interview' sig %}" method="POST">
                {% csrf_token %}
                <div class="center row">
                    <div class="col offset-l3 l4 s6 input-field">
                        <input id="roll" name="rollno" type="text"></input>
                        <label for="roll">Search for Roll Number</label>
                    </div>
                    
                    <div class="col l4 s6 input-field">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Search
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
            <table class="centered highlight">
                <thead>
                    <tr>
                        <th>Roll Number</th>
                        <th>Name</th>
                        <th>Round(s) Completed</th>
                    </tr>
                </thead>
                {% for applicant,progress in applicants %}
                
                    <tr onclick="window.location=">
                        <td>
                            <a href="{% url 'personal_interview' sig applicant.rollno %}">{{applicant.rollno}}</a>
                        </td>
                        <td>
                            <a href="{% url 'personal_interview' sig applicant.rollno %}">{{applicant.first_name}} {{applicant.last_name}}</a>
                        </td>
                        <td>
                            <a href="{% url 'personal_interview' sig applicant.rollno %}">{{progress.round_completed}}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %} 
