{% extends 'base.html' %}
{% load recaptcha3 %}

{% block head %}
    {% recaptcha_init %}
    {% recaptcha_ready action_name='homepage' %}
{% endblock %}

{% block content %}

<div class="row center">
    <form method="post">
        {% csrf_token %}
        <div class="col l6 offset-l3 s12">
            
            {% for sig,quests in questions.items %}
                <div class="card">
                    <div class="card-content black-text">
                        <span class="card-title">{{sig}}</span>
                        {% for question in quests %}
                            <div class="row ckeditor_content">{{question.body|safe}}</div>
                            <textarea required name={{question.id}} rows="10" cols="100"></textarea>
                            <br><br>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <br>
            {{captcha.recaptcha}}
            <div class="col l6 offset-l3 s12">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        
        </div>
    </form>
</div>
{% endblock %}
