{% extends 'base.html' %}
{% block content %}

<br>
<h3>Enter Event Details</h3>
<div id="details_form" class="row center">
    <div class="col l6 offset-l3 s12">
        <div class="card">
            <div class="card-content black-text">
              <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row">
                      <div class="col s12">
                          <div class="row">
                              <div class="input-field col s12">
                                  <!-- <i class="form-icon material-icons prefix">event</i> -->
                                  {{form.event_name}}
                                  <label for="id_event_name">Event Name</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="input-field col s12">
                                <!-- <i class="form-icon material-icons prefix">person</i> -->
                                  {{form.contact1}}
                                  <label for="id_contact1">Contact 1</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="input-field col s12">
                                <!-- <i class="form-icon material-icons prefix">person</i> -->
                                  {{form.contact2}}
                                  <label for="id_contact2">Contact 2</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="input-field col s12">
                                  <!-- <i class="form-icon material-icons prefix">location_on</i> -->
                                  <label for="id_venue">Venue</label>
                                  {{form.venue}}
                              </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <div class="materialize-textare">
                                <label for="id_description">Event Description</label>
                              {{form.description}}
                              </div>
                            </div>
                          </div>
                          <div class="row">
                              <div class="input-field col s12">
                                  <!-- <i class="form-icon material-icons prefix">date_range</i> -->
                                  {{form.event_date}}
                                  <label for="id_event_date">Event Date</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="input-field col s12">
                                  <!-- <i class="form-icon material-icons prefix">timer</i> -->
                                  {{form.event_time}}
                                  <label for="id_event_time">Event Time</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="input-field col s12">
                                  {{form.sig}}
                                  <label for="id_sig">SIG</label>
                              </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                                <!-- <i class="form-icon material-icons prefix">group</i> -->
                                {{form.members}}
                                <label for="id_members">Member Count</label>
                            </div>
                          </div>

                          <div class="file-field input-field">
                            <div class="btn">
                              <input type="file" id="id_poster_image" name="poster_image">
                              <span>Poster Image</span>
                            </div>
                            <div class="file-path-wrapper">
                              <input class="file-path validate" type="text" id="id_poster_image" name="poster_image">
                            </div>
                          </div>

                      </div>
                  </div>
                  <button class="btn waves-effect waves-light" type="submit" name="action">Create Event
                      <i class="material-icons right">send</i>
                  </button>
              </form>

{% endblock %}
