{% extends 'base.html' %}
{% block content %}
{% load grouptags %}
<h3><span>Upcoming Events</span></h3>

<div class="row">
    {% for event in all_events %}
        <div class="col s12 m4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="/media/{{event.poster_image}}">
                </div>
                <div class="card-content">
                    <p class="grey-text"><i class="material-icons">date_range</i> {{event.event_date}}, {{event.event_time}} <i class="material-icons">location_on</i>{{event.venue}}</p>
                    <h5 style="font-weight: bold;">{{event.event_name}}</h5>
                    <p class=" grey-text text-darken-2">
                        {{event.description|safe}}
                        <a class="activator">Point of Contact</a>
                    </p>
                </div>

                <div class="card-action">
                    <center><a class="indigo-text" href="{% url 'event_register' event.id%}">Register Now</a></center>
                </div>
                {% if user|has_group:"Core" %}
                <div class="card-action">
                    <center><a class="indigo-text" href="{% url 'view_registrations' event.id%}">View Registrations</a></center>
                </div>
                {% endif %}
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Point of Contact (hover on image)
                        <i class="material-icons right">close</i>
                    </span>
                    <br>
                    <div class="flexrow">
                            <a class="core_img ">
                                <div class="img__overlay">
                                    {{event.contact1.first_name}} {{event.contact1.last_name}}
                                    <br>
                                    {{event.contact1.phone_number}}
                                </div>
                                <img src='/media/{{event.contact1.avatar}}'>
                            </a>
                    </div>
                    <br>
                    <div class="flexrow">
                            <a class="core_img ">
                                <div class="img__overlay">
                                    {{event.contact2.first_name}} {{event.contact2.last_name}}
                                    <br>
                                    {{event.contact2.phone_number}}
                                </div>
                                <img src='/media/{{event.contact2.avatar}}'>
                            </a>

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if user|has_group:"Core" %}
    <div class="col s12 m4">
        <div class="card hoverable">
          <div class="card-image">
              <a href="{% url 'create_event' %}"><img src="https://www.impetus.com/sites/default/files/plus.png" style="background-color:#000080"></a>
          </div>
          <div class="card-action">
              <center><a class="indigo-text" href="{% url 'create_event' %}">Create new event</a></center>
          </div>
        </div>
    </div>
    <!-- <br><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a> -->
    {% endif %}
</div>

{% endblock %}
