{% extends 'base.html' %}
{% load recaptcha3 %}

{% block head %}
    {% recaptcha_init %}
    {% recaptcha_ready action_name='homepage' %}
{% endblock %}

{% block content %}
<div id="details_form" class="row center">
    <div class="col l6 offset-l3 s12">
        <div class="card">
            <div class="card-content black-text">
                {% if not one %}
                <center>
                    <span class="card-title">Let us know about your team</span>
                </center>
                {% else %}
                <center>
                    <span class="card-title">Let us know about you</span>
                </center>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col s12">
                            {% if not one %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="form-icon material-icons prefix">group</i>
                                    {{form.team_name}}
                                    <label for="id_team_name">Team Name</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="form-icon material-icons prefix">person</i>
                                    {{form.participant1}}
                                    <label for="id_participant1">Member 1</label>
                                </div>
                            </div>
                            {% if not one %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="form-icon material-icons prefix">person</i>
                                    {{form.participant2}}
                                    <label for="id_participant2">Member 2</label>
                                </div>
                            </div>
                            {% endif %}

                            {% if four %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="form-icon material-icons prefix">person</i>
                                    {{form.participant3}}
                                    <label for="id_participant3">Member 3</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="form-icon material-icons prefix">person</i>
                                    {{form.participant4}}
                                    <label for="id_participant4">Member 4 (Optional)</label>
                                </div>
                            </div>
                            {% else %}
                            {% if not one %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="form-icon material-icons prefix">person</i>
                                    {{form.participant3}}
				    {% if zero %}
				    	<label for="id_participant3"> Member 3</label>
				    {% else %}
				    	<label for="id_participant3">Member 3 (Optional)</label>
                                    {% endif %}
				</div>
                            </div>
                            {% endif %}
                            {% endif %}


                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="form-icon material-icons prefix">phone</i>
                                    {{form.phone1}}
                                    <label for="id_phone1">Member 1 Contact</label>
                                </div>
                            </div>
                            {% if not one %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="form-icon material-icons prefix">phone</i>
                                    {{form.phone2}}
                                    <label for="id_phone2">Member 2 Contact</label>
                                </div>
                            </div>
                            {% endif %}
			     
			    
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="form-icon material-icons prefix">email</i>
                                    {{form.email}}
                                    <label for="id_email">Email Address</label>
                                    <span class="helper-text">All event updates will be sent to this email</span>
                                </div>
                            </div>
			    
			    
			    
			    {{form.captcha}}
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
