@media only screen and (min-width : 601px) and (max-width : 1260px) {
    .toast {
        width: 80%;
        border-radius: 0;
    } 
}
    
@media only screen and (min-width : 1261px) {
    .toast {
        width: 80%;
        border-radius: 0; 
    } 
}

@media only screen and (min-width : 601px) and (max-width : 1260px) {
    #toast-container {
        min-width: 100%;
        bottom: 0%;
        top: 90%;
        right: 0%;
        left: 10%;
    } 
}

@media only screen and (min-width : 1261px) {
    #toast-container {    
        min-width: 100%;
        bottom: 0%;
        top: 90%;
        right: 0%;
        left: 10%; 
    } 
}

#alert_close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    cursor:pointer; 
}
.card-title, .form-icon, h2,h4{
    color:#0d47a1;
}

td a{
  display: block;
  color:black;
}

h3{
    color: #0d47a1;
    text-align:center;
}
h3 span{
  display:inline-block;
  position:relative;
  overflow:hidden;
}
h3 span:after,
h3 span:before{
  content:"";
  height:1px;
  width:100%;
  position:absolute;
  bottom:0px;
  left:0;
  transition: 3s;
}
h3 span:before{
  background:#ccc;
}
/* We'll animate this one to -75% */
h3 span:after{ 
  background:#000;
  left:100%;
}
h3 span.animateLine:after{
  left: -75%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: white;
}

main {
  flex: 1 0 auto;
}
    