@media only screen and (min-width : 601px) and (max-width : 1260px) {
    .toast {
        width: 80%;
        border-radius: 0;
    } 
}
    
@media only screen and (min-width : 1261px) {
    .toast {
        width: 80%;
        border-radius: 0; 
    } 
}

@media only screen and (min-width : 601px) and (max-width : 1260px) {
    #toast-container {
        min-width: 100%;
        bottom: 0%;
        top: 90%;
        right: 0%;
        left: 10%;
    } 
}

@media only screen and (min-width : 1261px) {
    #toast-container {    
        min-width: 100%;
        bottom: 0%;
        top: 90%;
        right: 0%;
        left: 10%; 
    } 
}

#alert_close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    cursor:pointer; 
}
.card-title, .form-icon, h2,h4{
    color:#1a237e ;
}

td a{
  display: block;
  color:black;
}

h3{
    color: #1a237e ;
    text-align:center;
}
h3 span{
  display:inline-block;
  position:relative;
  overflow:hidden;
}
h3 span:after,
h3 span:before{
  content:"";
  height:0.1rem;
  width:100%;
  position:absolute;
  bottom:0px;
  left:0;
  transition: 3s;
}
h3 span:before{
  background:#ccc;
}

h3 span:after{ 
  background:#1a237e;

  left:100%;
}
h3 span.animateLine:after{
  left: -75%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: white;
}

main {
  flex: 1 0 auto;
}
    
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.core_img {
  border-radius: 100%;
  display: flex;
  flex: 0 0 150px;
  height: 150px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  flex-direction: row;
  width: 150px;
  margin: 2%;
}

.core_img img {
  height: 100%;
}

.img__overlay {
  align-items: center;
  flex-direction: row;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.25s;
  z-index: 1;
}
.img__overlay:hover {
  opacity: 1;
}

.img__overlay {
  background-color: rgba(26,35,126,0.8);
  color: #fafafa;
  font-size: 15px;
}

.flexrow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ckeditor_content img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.fa-facebook, .fa-facebook-square {
  color: #3b5998
}
.fa-twitter, .fa-twitter-square {
  color: #00aced
}
.fa-google-plus, .fa-google-plus-square {
  color: #dd4b39
}

.fa-linkedin, .fa-linkedin-square {
  color: #007bb6
}
.fa-instagram {
  color: #517fa4;
}
.fa-telegram {
  color: #0088cc;
}
.fa-reddit-square {
  color: #FF5700;
}

.social-buttons{
  list-style-type: none !important;
}

.social-buttons li{
  display:inline !important;
}

textarea{
  border:dashed 2px #bdbdbd;
}

.circle{
    width:100px;
    height:100px;
    border-radius:50%;
    line-height: 100px;
    font-size:20px;
    color:#fff;
    text-align:center;
    background:#1a237e
}
