{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>ISTE NITK Student Chapter</title>
        <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/forge/0.8.2/forge.all.min.js"></script>
    </head>
    <body>
    {% if user.is_authenticated %}
        Hi {{user.first_name}}!
        <a href="{% url 'interview' %}">Conduct Interview</a>
        <a href="{% url 'admin:index' %}">Admin</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'recruitments' %}">Get Recruited</a>
    
    {% endif %}
    <a href="{% url 'projects_list' %}">Projects</a>
    <a href="{% url 'blogs' %}">Blogs</a>
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}
    {% endblock content %}
    </body>
</html>