{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form method="POST" action="{% url 'change_password'%}">
{% csrf_token %}
Enter old password <input name="password" type="password"/>
Enter new password <input name="password1" type="password"/>
Enter new password again <input name="password2" type="password"/>
<input type="submit"/>
</form>
{% endblock content %}