{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>ISTE NITK Student Chapter</title>
    </head>

    <body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if user.is_authenticated %}
        Hi {{user.first_name}}!
        <a href="{% url 'change_password' %}">Change password</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    {% block content %}
    {% endblock content %}
    </body>
</html>